*.DS_Store
/.idea/
/.bundle/
.rbenv-gemsets
.ruby-version
*.sublime*
.codeclimate.yml
.dockerignore
.pryrc
.env.sample
.*.sw[a-z]
.build
.ruby-gemset
*.orig
/.notes/
.rspec.bamboo.template
.gitignore
/.git/
/.vscode/
Dockerfile*