<div id="swagger-ui-container" class="swagger-ui-wrap">
<div class="container" id="resources_container">

<br/><br/>

<h1>Using the API</h1>

<h2>Verbs</h2>
<p>test test test test test test</p>

<h2>Response Codes</h2>
<p>test test test test test test</p>

<h2>Authentication</h2>
<p>test test test test test test</p>

<h2>Authorization</h2>
<p>test test test test test test</p>

<h2>Data Types</h2>
<p>Describe here: ISO8601, RFC3339 full-date</p>

<style>
.cc_codeblock {
  word-wrap: break-word;
  font-size: 80%;
}
</style>

<pre class="cc_codeblock">
Things to put here:
- verbs
- response codes
- authentication
- authorization
</pre>

<br/><br/>

<pre class="cc_codeblock">curl -s -H "Content-Type: application/json" -X PUT --data '{"patient": {"first_name": "Tom","last_name": "Brady","middle_initial": ""}}' https://test.carecloud.com/v1/patients/legacy/patient-6987?authentication=AQIC5wM2LY4SfczYcdKiUbxKqeKcqSNoYTDOSodpkEkFflU.*AAJTSQACMDE.*</pre>

</div>
</div>
