development: &development
  salesforce_queue_url: <%=ENV['CONFIG_SALESFORCE_QUEUE_URL']%>

test:
  <<: *development

qa: 
  salesforce_queue_url: <%=ENV['CONFIG_SALESFORCE_QUEUE_URL']%>

staging: 
  salesforce_queue_url: "https://sqs.us-east-1.amazonaws.com/489152718636/salesforce_staging"

production: 
  salesforce_queue_url: "https://sqs.us-east-1.amazonaws.com/489152718636/salesforce_prod"
