development: &development
  api_internal_svc_url: <%=ENV['CONFIG_API_INTERNAL_SVC_URL']%>
  api_internal_doc_srv_upld_url: <%=ENV['CONFIG_API_INTERNAL_DOC_SRV_UPLD_URL']%>
  mirth_outbound_svc_url: <%=ENV['CONFIG_MIRTH_OUTBOUND_SVC_URL']%>
  mirth_private_key: <%=ENV['CONFIG_MIRTH_PRIVATE_KEY']%>
  mirth_edi_token: <%=ENV['CONFIG_MIRTH_EDI_TOKEN']%>
  mirth_ip_address: <%=ENV['CONFIG_MIRTH_IP_ADDRESS']%>
  memcache_servers: <%=ENV['CONFIG_MEMCACHED_SERVERS']%> 
  lab_user: <%=ENV['CONFIG_LAB_USER']%>
  lab_pass: <%=ENV['CONFIG_LAB_PASS']%>
  version: <%=ENV['CONFIG_API_VERSION']%>
  logging_level: <%=ENV['CONFIG_LOGGING_LEVEL']%>
  clinical_data_api: <%=ENV['CONFIG_CLINICAL_DATA_API']%>
  enable_fdb: <%=ENV['CONFIG_ENABLE_FDB']%>

localhost:
  *development

# fix to run rspec
test:
  *development

production:
  api_internal_svc_url: <%=ENV['CONFIG_API_INTERNAL_SVC_URL']%>
  api_internal_doc_srv_upld_url: https://dms.carecloud.com
  mirth_outbound_svc_url: http://10.50.21.88:8088
  mirth_private_key: thisstringshouldbeprivate
  mirth_edi_token: C4r3Cl0ud3D1F0RPR0DUCT10N3NV
  mirth_ip_address: 10.122.149.15,10.122.149.18,192.168.123.111,72.46.253.196,172.20.0.10,10.0.1.42
  memcache_servers: cc-xapi-mcache-prod.1suifb.cfg.use1.cache.amazonaws.com:11211
  lab_user: spectra_prod
  lab_pass: mDYPQx1ompwLZN2TxWzOf8FOevkOlcdu
  version: 26.2
  logging_level: 5
  enable_fdb: <%=ENV['CONFIG_ENABLE_FDB']%>

qa:
  api_internal_svc_url: <%=ENV['CONFIG_API_INTERNAL_SVC_URL']%>
  api_internal_doc_srv_upld_url: <%=ENV['CONFIG_API_INTERNAL_DOC_SRV_UPLD_URL']%>
  mirth_outbound_svc_url: <%=ENV['CONFIG_MIRTH_OUTBOUND_SVC_URL']%>
  mirth_private_key: <%=ENV['CONFIG_MIRTH_PRIVATE_KEY']%>
  mirth_edi_token: <%=ENV['CONFIG_MIRTH_EDI_TOKEN']%>
  mirth_ip_address: <%=ENV['CONFIG_MIRTH_IP_ADDRESS']%>
  memcache_servers: <%=ENV['CONFIG_MEMCACHED_SERVERS']%> 
  lab_user: <%=ENV['CONFIG_LAB_USER']%>
  lab_pass: <%=ENV['CONFIG_LAB_PASS']%>
  version: <%=ENV['CONFIG_API_VERSION']%>
  logging_level: <%=ENV['CONFIG_LOGGING_LEVEL']%>
  clinical_data_api: <%=ENV['CONFIG_CLINICAL_DATA_API']%>
  enable_fdb: <%=ENV['CONFIG_ENABLE_FDB']%>

staging:
  api_internal_svc_url: https://services-staging.carecloud.com/
  api_internal_doc_srv_upld_url: https://dms-staging.carecloud.com
  mirth_outbound_svc_url: http://mirth.development.carecloud.com:8088
  mirth_private_key: thisstringshouldbeprivate
  mirth_edi_token: C4r3Cl0ud3D1
  mirth_ip_address: 10.122.149.15,10.122.149.18,192.168.123.111,72.46.253.196,10.0.1.42
  memcache_servers: staging-auth-mcache.1suifb.cfg.use1.cache.amazonaws.com:11211 # (using Auth elasticache to conserve resources)
  lab_user: spectra_staging
  lab_pass: chgDkJDfm1CGJjlrh9lHKHqGExOSfTAe
  version: 26.2
  logging_level: 4
  enable_fdb: <%=ENV['CONFIG_ENABLE_FDB']%>

demo:
  api_internal_svc_url: http://services.careclouddemo.com/
  api_internal_doc_srv_upld_url: http://documents.careclouddemo.com
  memcache_servers: mem-main-ext-cluster.ulcevi.0001.use1.cache.amazonaws.com
  version: 26.2
  logging_level: 5
  enable_fdb: <%=ENV['CONFIG_ENABLE_FDB']%>
