<br/><br/><br/>
<center>
  <a href='integration_landing/login?zocdoc=true'>Are you a CC AND ZocDoc Client? (joint, request to connect)</a>
  <br/><br/><br/>
  <a href='integration_landing/login'>Are you a CC and NOT ZocDoc Client? (referral to ZocDoc)</a>
</center>
