<br/><br/><br/>
<center>
  <p>We’re glad you’re interested in taking advantage of CareCloud’s integration with ZocDoc to boost your practice’s productivity and profitability! With this integration:</p>
  <ul>
    <li>ZocDoc can automatically read your CareCloud schedule and display available appointment times to patients</li>
    <li>New ZocDoc appointments will appear automatically on your CareCloud schedule</li>
    <li>Your CareCloud schedule will automatically update if patients cancel or reschedule appointments via ZocDoc</li>
  </ul>
  <p><b><i>…and more!</i></b></p>
  <p><i>Please click on the appropriate button below to request an integration or more information.</i></p>
  <br/><br/>
  <a href='integration_landing/login?zocdoc=true'>Are you a CC AND ZocDoc Client? (joint, request to connect)</a>
  <br/><br/><br/>
  <a href='integration_landing/login'>Are you a CC and NOT ZocDoc Client? (referral to ZocDoc)</a>
</center>
