<br/><br/><br/>
<center>
  <h1>Request Sent</h1>

  <% if params[:zocdoc] %>
    <p>We sent your info to ZocDoc Service</p>
  <% else %>
    <p>We sent your info to ZocDoc Sales</p>
  <% end %>
</center>
