<br/><br/><br/>
<center>
  <h1>Request Sent</h1>

  <% if params[:zocdoc] %>
    <!-- <p>Thanks for submitting this form. We're glad you're interested in taking advantage of CareCloud's integration with ZocDoc. We have forwarded your information to ZocDoc's service team and a representative will contact you within 24 hours to begin the activation process.</p> -->
    <p>Thanks for your submission! We have forwarded your request to ZocDoc and a member of the ZocDoc team will reach out to you within 24 hours.</p>
  <% else %>
    <!-- <p>Thanks for submitting this form. We're glad you're interested in learning more about how ZocDoc—and its integration with CareCloud—can benefit your organization. We have forwarded your information to ZocDoc. A ZocDoc representative will reach out to you within 24 hours.</p> -->
    <p>Thanks for your submission! We have forwarded your request to ZocDoc and a member of the ZocDoc team will reach out to you within 24 hours.</p>
  <% end %>
</center>
