<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>CareCloud and ZocDoc</title>

    <!-- Bootstrap core CSS -->
    <link href="/zocdoc/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
    
    <link href="/zocdoc/css/styles.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/zocdoc/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <img src="images/logos.png">
        <h1>Attract Patients.<br>Accelerate Productivity.</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
		<div class="row">
        	<div class="col-md-12 panel panel-default confirmation">
            	<div class="col-md-2">
            		<img src="images/check-lg.png">
                </div>
                <div class="col-md-8">
                <p>Thanks for your submission! We have forwarded your request to ZocDoc and a member of the ZocDoc team will reach out to you within 24 hours.</p>
                <br/>
                <% if params[:zocdoc] %>
                <p>Too excited to wait? Call ZocDoc directly at (866) 962-3621.</p>
                <% else %>
                <p>Too excited to wait? Call ZocDoc directly at (866) 962-3622.</p>
                <% end %>
                </div>
            </div>
        </div>
      <hr>

      <footer>
        <p>Copyright © 2015 CareCloud Corporation. All rights reserved.<br><a href="http://www.carecloud.com/privacy-policy/" target="_blank">Privacy Policy</a></p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/zocdoc/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/zocdoc/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
